* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  /* 1rem = 10px */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* ---- COLORS ---- */
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

body.light {
  --primary: #f76b10;
  --dark: #20222c;
  --soft-dark: #4a4d55;
  --white: #ffffff;
  --grey1: #f0f0ee;
  --grey2: #e1e1e1;
  --green: #29d697;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-style: 1.8rem;
}

h4 {
  font-style: 1.4rem;
}

p {
  font-size: 1.4rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.flex {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

img {
  height: 100%;
  width: auto;
}
